.Header{
    background-color: #222;
    height: 36px;
    padding: 8px 32px 8px 16px ;
}
.headerlogo{
    background-color: #ad8282;
    height: 35px;
    animation: headerLogo 8s linear infinite  ;
    float: left;
   
}
@keyframes headerLogo{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}